.App {
  /* text-align: center; */
  /* padding: 400px; */
  /* background: linear-gradient(20deg,blue, red); */
  /* padding: 300px 100px 200px 500px; */
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20% 5% 100%  32%;
  position: fixed;
  justify-content: center;
  height: 100%;
  width: 100%;
  animation: enable 0.5s ease-in-out;
}

@media(max-width: 500px){
  .App{
    /* margin: 20px; */
    /* position: relative; */
    padding: 70% 10% 100%  10%;
  }
}
@media(max-width: 1000px){
  .App {
    /* margin-top: 40px; */
    /* position: relative; */
    padding:70% 10% 100% 10%;
  }
}
@keyframes enable {
  0% {
      transform: scale(5);
  }
  60% {
      transform: scale(2.5);
  }
  100% {
      transform: scale(1);
  }
}